<ul class="menu level-{{ level }}">
    {% for item in items %}
        <li class="menu-item{% if item.children %} has-children{% endif %}">
            <a href="{{ item.url }}">{{ item.label }}</a>
            {% if item.children %}
                <button class="submenu-toggle" type="button" aria-expanded="false" aria-label="Toggle {{ item.label }} submenu">
                    <span class="chevron"></span>
                </button>
                {% include "home/includes/nav.html" with items=item.children level=level|add:"1" %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
